*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

.container form{

    margin-top: 1.5em;

}

.container{
    max-width: 450px;
    margin: 2em auto;   
}

.bold{
    font-weight: bold;
}

#navbar{
    border-bottom: 1px solid #CCC;
    padding: 1em 2em;
    background-color: #0ee2d0;
    color: #4b4848;
    display: flex;
    justify-content: space-between;
    align-items: center
    
}

#navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
}

#navbar ul li{
    margin-left: 1em;
}

#navbar ul li a{
    text-decoration: none;
    color: #343131

}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label{

    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input,
.form-control textarea{

    padding: 7px;
    border-radius: 3px;
    border: 1px solid #CCC;

}

form input[type ='submit']{
    background-color: #185b19;
    color: #fff;
    padding: .5em 1em;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.task-list{
    list-style: none;
    margin-top: 1em;

}

.task-list li{
    padding: .5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-between;

}

.task-list .title{
    font-weight: bold;
    color: #000000;
    transition: .5s;
    font-size: 1.2em;

}

.task-list .title:hover{
    color: rgb(179, 39, 26);

}

.action{
    display: flex;

}

.actions i {
    font-size: 1.5em;
    margin-right: .6em,;
    color: #333;

}

.actions i:hover {

    color: #fe0000;

}




